/* TODO: consider creating <Button> and <GradientText> components */
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.mirage-hover {
  @apply text-current no-underline;
  background: linear-gradient(0deg, #ffa939, #ffa939) no-repeat right bottom / 0
    100%;
  transition: all 400ms;
  padding: 2px 4px;
}

.mirage-hover:hover,
.mirage-hover:focus-visible {
  background-size: 100% 100%;
  background-position-x: left;
  @apply text-gray-800;
}
