---
import GeminiEffect from "@/components/GeminiEffect.tsx";
import Compatibility from "@/components/compatibility.astro";
import Features from "@/components/features.astro";
import Intro from "@/components/intro.astro";
import Showcase from "@/components/showcase.astro";
import Page from "@/frags/Page.astro";
---

<Page
  title="Welcome to Vector"
  description="VECTOR, emerging from Pakistan, is pioneering in AI innovation with products like vFit for virtual try-ons and offering expert services in Generative AI, Computer Vision, NLP, and more. Transforming e-commerce and empowering businesses with cutting-edge technology."
>
  <GeminiEffect client:load />

  <div class="space-y-24 px-8 py-32">
    <Intro />
    <Features
      title="Features"
      eyebrowIcon="mdi:lightbulb-edison-outline"
      features={[
        {
          title: "Generative AI",
          description:
            "Empower creativity with AI that can autonomously generate novel content, from textual to visual, enriching user interaction and experience.",
          icon: "mdi:creation",
        },
        {
          title: "Conversational Agents",
          description:
            "Implement AI-driven conversational agents that engage users in natural dialogue, enhancing customer support and user accessibility.",
          icon: "mdi:chat-processing",
        },
        {
          title: "Digital Image Processing",
          description:
            "Utilize sophisticated image processing methods to modify and improve digital images for various applications in both real-time and post-processing scenarios.",
          icon: "mdi:image-outline",
        },
        {
          title: "Computer Vision",
          description:
            "Incorporate advanced computer vision technology to enable machines to interpret and make decisions based on visual data from the real world.",
          icon: "mdi:camera-enhance-outline",
        },
      ]}
    />
    <Compatibility />
    <Showcase />
  </div>
</Page>
