---
export interface Props {
  id?: string;
  title: string;
  className?: string;
}

const { title, id, className } = Astro.props;
---

<section
  id={id}
  class:list={["flex scroll-mt-24 flex-col items-center gap-4 py-8", className]}
>
  <div
    class="flex max-w-3xl flex-col items-center gap-4 text-balance capitalize"
  >
    <slot name="eyebrow" />

    <h2 class="text-center text-4xl font-extrabold tracking-tight md:text-6xl">
      {title}
    </h2>
  </div>

  <p class="max-w-xl text-center text-2xl font-extrabold">
    <slot name="lead" />
  </p>

  <slot />
</section>
