---
const { href, ...rest } = Astro.props;
const isExternal = href.startsWith("http://") || href.startsWith("https://");
const isDev = import.meta.env.DEV;
const base = "vector-ai";
const getPrefixedHref = (href: string) => {
  return isExternal || isDev ? href : `/${base}/${href}`;
};
---

<a href={getPrefixedHref(href)} {...rest}>
  <slot />
</a>
