---
const { href, ...rest } = Astro.props;
const isExternal = href.startsWith("http://") || href.startsWith("https://");
const base = "vector-ai";
const getPrefixedHref = (href: string) => {
  const out = isExternal ? href : `/${base}/${href}`;
  return out.replace("//", "/");
};
---

<a href={getPrefixedHref(href)} {...rest}>
  <slot />
</a>
