---
import { Icon } from "astro-icon/components";
import ContentSection from "@/components/content-section.astro";
import type { FeatureItem } from "@/types";

const features: FeatureItem[] = [
  // ... (other features)
  {
    title: "Generative AI",
    description:
      "Empower creativity with AI that can autonomously generate novel content, from textual to visual, enriching user interaction and experience.",
    icon: "mdi:creation",
  },
  {
    title: "Conversational Agents",
    description:
      "Implement AI-driven conversational agents that engage users in natural dialogue, enhancing customer support and user accessibility.",
    icon: "mdi:chat-processing",
  },
  {
    title: "Digital Image Processing",
    description:
      "Utilize sophisticated image processing methods to modify and improve digital images for various applications in both real-time and post-processing scenarios.",
    icon: "mdi:image-outline",
  },
  {
    title: "Computer Vision",
    description:
      "Incorporate advanced computer vision technology to enable machines to interpret and make decisions based on visual data from the real world.",
    icon: "mdi:camera-enhance-outline",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    <h2>
      Astro comes <span class="text-primary">batteries included</span>. It takes
      the best parts of
      <span class="text-primary">state-of-the-art</span>
      tools and adds its own <span class="text-primary">innovations</span>.
    </h2>
  </Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="p-3 border-2 border-current rounded-full size-16">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-center text-offset text-balance">
            {description}
          </p>
        </li>
      ))
    }
  </ul>
</ContentSection>
