---
import CustomLink from "@/components/CustomLink.astro";
import ContentSection from "@/components/content-section.astro";
import { buttonVariants } from "@/components/ui/button.tsx";
import { Icon } from "astro-icon/components";
---

<ContentSection
  title="Building for the public while Building in Public"
  id="intro"
>
  <Icon slot="eyebrow" name="mdi:eye" class="size-32" />

  <Fragment slot="lead">
    <p class="max-w-4xl text-balance text-center">
      We aim to democratize computational intelligence with VECTOR-ized
      products. As a dream team emerging out of Pakistan, we aim to grab
      opportunities from existing problems.
    </p>
    <p class="max-w-4xl text-balance text-center">
      We have hopped on a transformative journey to foster innovation, and
      social entrepreneurship through AI as we harness its power to shape a
      brighter, more connected and immersive future.
    </p>
  </Fragment>

  <div class="mt-4 grid grid-cols-1 gap-2 sm:grid-cols-2">
    <CustomLink href="/team" class={buttonVariants()}>
      More About The Team
    </CustomLink>

    <CustomLink
      href="/products/vfit"
      class={buttonVariants({ variant: "link" })}
    >
      View our Flagship Product
    </CustomLink>
  </div>
</ContentSection>
