---
import { getCollection } from "astro:content";
import ContentSection from "@/components/content-section.astro";
import ShowcaseCard from "@/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    <h2 class="mx-auto max-w-[80vw] md:max-w-[40vw] text-balance text-center text-xl">
      Astro comes <span class="text-primary">batteries included</span>. It takes
      the best parts of
      <span class="text-primary">state-of-the-art</span>
      tools and adds its own <span class="text-primary">innovations</span>.
    </h2>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-sm text-right">
      <a class="text-primary" href="https://astro.build/showcase/">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
