---
import GridBackground from "@/components/GridBackground";
import VFitCompare from "@/components/VFitCompare.tsx";
import ContentSection from "@/components/content-section.astro";
import Features from "@/components/features.astro";
import Page from "@/frags/Page.astro";
import { Icon } from "astro-icon/components";

import imageOneBefore from "@/assets/slider_images/1_Original.jpeg";
import imageOneAfter from "@/assets/slider_images/1_TryOn.jpg";
import imageTwoBefore from "@/assets/slider_images/2_Original.jpeg";
import imageTwoAfter from "@/assets/slider_images/2_TryOn.jpg";
---

<Page title="vFit" description="Here's the vFit product developed by VECTOR">
  <GridBackground
    heading="vFit; Vector's Flagship Product"
    content="Your customers are sitting at home and browsing your clothing products online? They're not sure if the apparel suits them well? \n\n vFit offers a solution"
  />

  <div class="relative z-10 mt-[100vh] bg-white">
    <ContentSection title="What is vFit?">
      <Icon slot="eyebrow" name="mdi:chat-question" class="size-32" />
      <Fragment slot="lead">
        <div
          class="flex max-w-3xl flex-col items-center gap-4 text-balance px-8"
        >
          <p
            class="text-balance text-center font-light text-gray-500 dark:text-gray-400 sm:text-xl"
          >
            vFit comes through with an immersive and innovative new experience
            making online shopping truly exciting. It is an incoming virtual
            try-on product that allows your shoppers to visualize themselves in
            any clothes that they wish to purchase. With vFit, we are
            revolutionizing the e-commerce experience through AI-driven
            personalization and virtual try-on features.
          </p>
        </div>
      </Fragment>
    </ContentSection>

    <Features
      title="Target Landscape"
      eyebrowIcon="mdi:webhook"
      features={[
        {
          title: "Computer Vision",
          description:
            "In physical stores, these mirrors are equipped with a camera and Computer Vision technology for real-time try ons.",
          icon: "mdi:camera-enhance-outline",
        },
        {
          title: "Smart virtual mirrors",
          description:
            "Offering website plugins that integrate with online stores. Allowing users to try-on products online on their pictures.",
          icon: "mdi:mirror",
        },
      ]}
    />

    <ContentSection title="See vFit in action">
      <Icon slot="eyebrow" name="mdi:eye" class="size-32" />
      <Fragment slot="lead">
        <div
          class="flex max-w-3xl flex-col items-center gap-4 text-balance px-8"
        >
          <p
            class="text-balance text-center font-light text-gray-500 dark:text-gray-400 sm:text-xl"
          >
            vFit is a plug-in solution for retail stores that equips their
            customer base with an option to make more informed decision
          </p>
        </div>
      </Fragment>

      <div class="grid max-w-[80%] grid-cols-1 gap-4 md:grid-cols-2">
        <VFitCompare
          client:visible
          imageOneUrl={imageTwoBefore.src}
          imageTwoUrl={imageTwoAfter.src}
        />

        <VFitCompare
          client:visible
          imageOneUrl={imageOneBefore.src}
          imageTwoUrl={imageOneAfter.src}
        />
      </div>
    </ContentSection>
  </div>

  <ContentSection title="See it to believe it">
    <video controls src="/vector-ai/vFitVideo.mp4" class="w-4/5"></video>
  </ContentSection>
</Page>
